PORT=5000
MONGODB_URI=mongodb+srv://api_access_19v:Labu1175@cluster0.nvp4mwm.mongodb.net/drivefleet?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=drivefleet_secret_key_2024
NODE_ENV=development
CLIENT_URL=http://localhost:5173